<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1600px"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
    <p><strong>Explore</strong></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:query-title {"type":"archive", "level":1} /-->
    
    <!-- wp:term-description /-->

    <!-- wp:template-part {"slug":"query","theme":"sierra-journal"} /-->
    </div>
    <!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->