<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug":"sierra-madre/hero"} /-->

<!-- wp:pattern {"slug":"sierra-madre/two-column-showcase"} /-->

<!-- wp:pattern {"slug":"sierra-madre/three-column-blog"} /-->

<!-- wp:pattern {"slug":"sierra-madre/two-column-showcase-reverse"} /-->

<!-- wp:pattern {"slug":"sierra-madre/feature-list"} /-->
 
<!-- wp:pattern {"slug":"sierra-madre/contact-us"} /-->

<!-- wp:pattern {"slug":"sierra-madre/newsletters"} /-->

<!-- wp:pattern {"slug":"sierra-madre/three-column-blog-cta"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->